doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Contacts
        .cards 
            each item in data
                .card 
                    h2.card__name #{item.properties.property1} #{item.properties.property2}
                    p.card__detail #{item.properties.property3} #{item.properties.property4}
        a(href='/update-cobj') Create or Update Custom Object       